Volvo Connected API to Domoticz
[{"id":"227b219a.279c1e","type":"tab","label":"Volvo Connected Vehicle API","disabled":false,"info":""},{"id":"917c441c.f857f","type":"inject","z":"227b219a.279c1e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":260,"wires":[["a1003a19.aa7fa"]]},{"id":"42433f96.394358","type":"debug","z":"227b219a.279c1e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":220,"wires":[]},{"id":"a1003a19.aa7fa","type":"function","z":"227b219a.279c1e","name":"Set URL (Vehicle List)","func":"msg.headers = {};\nmsg.headers['accept'] = 'application/vnd.volvocars.api.connected-vehicle.vehiclelist.v1+json';\nmsg.headers['vcc-api-key'] = flow.get(\"vcc-api-key\");\nmsg.headers['authorization'] = \"Bearer \" + flow.get(\"authorization\");\n\nmsg.url = 'https://api.volvocars.com/connected-vehicle/v1/vehicles';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":260,"wires":[["74680507.516cfc"]]},{"id":"95970fe5.38fba","type":"comment","z":"227b219a.279c1e","name":"Get vehicle list","info":"","x":320,"y":220,"wires":[]},{"id":"1eefdd.42b49824","type":"comment","z":"227b219a.279c1e","name":"Get Vehicle Details","info":"","x":330,"y":360,"wires":[]},{"id":"7cc67ac4.09295c","type":"debug","z":"227b219a.279c1e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":360,"wires":[]},{"id":"a8a66cb3.e6b2e","type":"function","z":"227b219a.279c1e","name":"Set URL (Vehicle Details)","func":"msg.headers = {};\nmsg.headers['accept'] = 'application/vnd.volvocars.api.connected-vehicle.vehicle.v1+json';\nmsg.headers['vcc-api-key'] = flow.get(\"vcc-api-key\");\nmsg.headers['authorization'] = \"Bearer \" + flow.get(\"authorization\");\n\nmsg.url = 'https://api.volvocars.com/connected-vehicle/v1/vehicles/' + flow.get(\"Volvo_VIN\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":400,"wires":[["67be7927.c116b"]]},{"id":"1a7ea0a8.8884df","type":"config","z":"227b219a.279c1e","name":"Config Domoticz IDX voor Volvo Connected Vehicle API","properties":[{"p":"IDXwindowsFrontLeft","pt":"flow","to":"1","tot":"num"},{"p":"IDXwindowsFrontRight","pt":"flow","to":"2","tot":"num"},{"p":"IDXwindowsRearLeft","pt":"flow","to":"3","tot":"num"},{"p":"IDXwindowsRearRight","pt":"flow","to":"4","tot":"num"},{"p":"IDXwarningsBulbFailure","pt":"flow","to":"5","tot":"num"},{"p":"IDXtyresFrontLeft","pt":"flow","to":"6","tot":"num"},{"p":"IDXtyresFrontRight","pt":"flow","to":"7","tot":"num"},{"p":"IDXtyresRearLeft","pt":"flow","to":"8","tot":"num"},{"p":"IDXtyresRearRight","pt":"flow","to":"9","tot":"num"},{"p":"IDXstatisticsAverageFuelConsumption","pt":"flow","to":"10","tot":"num"},{"p":"IDXstatisticsAverageSpeed","pt":"flow","to":"11","tot":"num"},{"p":"IDXstatisticsTripMeter1","pt":"flow","to":"12","tot":"num"},{"p":"IDXstatisticsTripMeter2","pt":"flow","to":"13","tot":"num"},{"p":"IDXstatisticsDistanceToEmpty","pt":"flow","to":"14","tot":"num"},{"p":"IDXodometerOdometer","pt":"flow","to":"15","tot":"num"},{"p":"IDXfuelFuelAmount","pt":"flow","to":"16","tot":"num"},{"p":"IDXenvironmentExternalTemp","pt":"flow","to":"17","tot":"num"},{"p":"IDXengineEngineRunning","pt":"flow","to":"18","tot":"num"},{"p":"IDXengineEngineCoolantLevel","pt":"flow","to":"19","tot":"num"},{"p":"IDXengineOilLevel","pt":"flow","to":"20","tot":"num"},{"p":"IDXengineEngineCoolantTemp","pt":"flow","to":"21","tot":"num"},{"p":"IDXengine-statusEngineRunning","pt":"flow","to":"22","tot":"num"},{"p":"IDXdoorsCarLocked","pt":"flow","to":"23","tot":"num"},{"p":"IDXdoorsFrontLeft","pt":"flow","to":"24","tot":"num"},{"p":"IDXdoorsFrontRight","pt":"flow","to":"25","tot":"num"},{"p":"IDXdoorsHood","pt":"flow","to":"26","tot":"num"},{"p":"IDXdoorsRearLeft","pt":"flow","to":"27","tot":"num"},{"p":"IDXdoorsRearRight","pt":"flow","to":"28","tot":"num"},{"p":"IDXdoorsTailGate","pt":"flow","to":"29","tot":"num"},{"p":"IDXdiagnosticsServiceStatus","pt":"flow","to":"30","tot":"num"},{"p":"IDXdiagnosticsServiceTrigger","pt":"flow","to":"31","tot":"num"},{"p":"IDXdiagnosticsBackupBatteryRemaining","pt":"flow","to":"32","tot":"num"},{"p":"IDXdiagnosticsMainBatteryStatus","pt":"flow","to":"33","tot":"num"},{"p":"IDXdiagnosticsEngineHoursToService","pt":"flow","to":"34","tot":"num"},{"p":"IDXdiagnosticsKmToService","pt":"flow","to":"35","tot":"num"},{"p":"IDXdiagnosticsMonthsToService","pt":"flow","to":"36","tot":"num"},{"p":"IDXdiagnosticsServiceType","pt":"flow","to":"37","tot":"num"},{"p":"IDXdiagnosticsWasherFluidLevel","pt":"flow","to":"38","tot":"num"},{"p":"IDXbrakesBrakeFluid","pt":"flow","to":"39","tot":"num"}],"active":true,"x":750,"y":80,"wires":[]},{"id":"dad4134c.5fba3","type":"config","z":"227b219a.279c1e","name":"Config VCC API Key and Volvo Car Access Token","properties":[{"p":"vcc-api-key","pt":"flow","to":"13ae3193f5bb4c49913fda913aef2f9e","tot":"str"},{"p":"authorization","pt":"flow","to":"eyJhbGciOiJSUzI1NiIsImtpZCI6IlNJR05FRENFUlQifQ.eyJzY29wZSI6WyJjb252ZTpicmFrZV9zdGF0dXMiLCJjb252ZTpjbGltYXRpemF0aW9uX3N0YXJ0X3N0b3AiLCJjb252ZTpmdWVsX3N0YXR1cyIsImNvbnZlOmRvb3JzX3N0YXR1cyIsImNvbnZlOmVuZ2luZV9zdGFydF9zdG9wIiwiY29udmU6bG9jayIsImNvbnZlOmRpYWdub3N0aWNzX3dvcmtzaG9wIiwiY29udmU6dHJpcF9zdGF0aXN0aWNzIiwiY29udmU6ZW52aXJvbm1lbnQiLCJjb252ZTpvZG9tZXRlcl9zdGF0dXMiLCJjb252ZTpob25rX2ZsYXNoIiwiY29udmU6ZW5naW5lX3N0YXR1cyIsImNvbnZlOnVubG9jayIsImNvbnZlOmNvbW1hbmRzIiwiY29udmU6bG9ja19zdGF0dXMiLCJjb252ZTp2ZWhpY2xlX3JlbGF0aW9uIiwiY29udmU6d2luZG93c19zdGF0dXMiLCJjb252ZTpuYXZpZ2F0aW9uIiwiY29udmU6dHlyZV9zdGF0dXMiLCJjb252ZTpjb25uZWN0aXZpdHlfc3RhdHVzIiwiY29udmU6ZGlhZ25vc3RpY3NfZW5naW5lX3N0YXR1cyIsImNvbnZlOndhcm5pbmdzIl0sImNsaWVudF9pZCI6ImRldmVsb3BlcnZjYXJzZG90Y29tIiwiZ3JudGlkIjoiTEp1QUVqYzYwSVJpU215RXExMlNpcGpCcDBWbllmb20iLCJmaXJzdE5hbWUiOiJIZXJtYW4iLCJsYXN0TmFtZSI6IkphbGluayIsInN1YiI6ImQ4MDI1MWMxLWYzMmQtNDY0YS1hOGM3LTNjM2ZiMWZlOWNhZSIsInNjb3BlcyI6WyJjb252ZTpicmFrZV9zdGF0dXMiLCJjb252ZTpjbGltYXRpemF0aW9uX3N0YXJ0X3N0b3AiLCJjb252ZTpmdWVsX3N0YXR1cyIsImNvbnZlOmRvb3JzX3N0YXR1cyIsImNvbnZlOmVuZ2luZV9zdGFydF9zdG9wIiwiY29udmU6bG9jayIsImNvbnZlOmRpYWdub3N0aWNzX3dvcmtzaG9wIiwiY29udmU6dHJpcF9zdGF0aXN0aWNzIiwiY29udmU6ZW52aXJvbm1lbnQiLCJjb252ZTpvZG9tZXRlcl9zdGF0dXMiLCJjb252ZTpob25rX2ZsYXNoIiwiY29udmU6ZW5naW5lX3N0YXR1cyIsImNvbnZlOnVubG9jayIsImNvbnZlOmNvbW1hbmRzIiwiY29udmU6bG9ja19zdGF0dXMiLCJjb252ZTp2ZWhpY2xlX3JlbGF0aW9uIiwiY29udmU6d2luZG93c19zdGF0dXMiLCJjb252ZTpuYXZpZ2F0aW9uIiwiY29udmU6dHlyZV9zdGF0dXMiLCJjb252ZTpjb25uZWN0aXZpdHlfc3RhdHVzIiwiY29udmU6ZGlhZ25vc3RpY3NfZW5naW5lX3N0YXR1cyIsImNvbnZlOndhcm5pbmdzIl0sImVtYWlsIjoiaGVybWFuLmphbGlua0Bqb25hc25ldC5ubCIsImV4cCI6MTYyMzM0MDYxOX0.dmjFruX4smJeHy0rUF7pFXPdQ-NR5cTYtdnwd3uD_IKN_MgWnqQObWIsImo34NGh8xI1ntmvHddqlGHWbj6bOw6Db4ntl7gtEpN1s-1UF6soAxDBr-SuQjeky5ELzDt3g_agMrAUDgeJRoZyqej7oGDYh2IxagI7cm7OdlNHMABWJyDMZZNstcisSrQh-2z3t2wioB7cQOV-74u3xfDbVTqJ7dgCT5hrofrpAhKtbLBy0UzYQJLgoZCPMI76K_zB2dHXCe7mjSUDjj5la5xbvm2np8adYA4PIE-VJjJx6_z3DBkt-wrzCDEXFRYKV_s3le4fpox_dn6l0-A9-8aIhQ","tot":"str"}],"active":true,"x":250,"y":80,"wires":[]},{"id":"44babf15.12fed8","type":"comment","z":"227b219a.279c1e","name":"Enable to read Vehicle List","info":"","x":930,"y":180,"wires":[]},{"id":"34124838.9a201","type":"comment","z":"227b219a.279c1e","name":"Enable to read Vehicle Details","info":"","x":940,"y":320,"wires":[]},{"id":"74680507.516cfc","type":"http request","z":"227b219a.279c1e","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":260,"wires":[["42433f96.394358","abb580c.58795"]]},{"id":"67be7927.c116b","type":"http request","z":"227b219a.279c1e","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":400,"wires":[["7cc67ac4.09295c","57a77eba.fcf08"]]},{"id":"d59be847.c1bcd","type":"comment","z":"227b219a.279c1e","name":"Get Window Status Values","info":"","x":350,"y":500,"wires":[]},{"id":"ac57936e.00cef","type":"debug","z":"227b219a.279c1e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":500,"wires":[]},{"id":"afff1fb.67cc4e","type":"function","z":"227b219a.279c1e","name":"Set URL (Windows Status Values)","func":"msg.headers = {};\nmsg.headers['accept'] = 'application/vnd.volvocars.api.connected-vehicle.vehicledata.v1+json';\nmsg.headers['vcc-api-key'] = flow.get(\"vcc-api-key\");\nmsg.headers['authorization'] = \"Bearer \" + flow.get(\"authorization\");\n\nmsg.url = 'https://api.volvocars.com/connected-vehicle/v1/vehicles/' + flow.get(\"Volvo_VIN\") + '/windows';\nmsg.topic = flow.get(\"Volvo_VIN\") + '/windows';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":540,"wires":[["913b414f.a332b"]]},{"id":"a7363759.0a9bd","type":"comment","z":"227b219a.279c1e","name":"Enable to read Window Status Values","info":"","x":970,"y":460,"wires":[]},{"id":"913b414f.a332b","type":"http request","z":"227b219a.279c1e","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":540,"wires":[["ac57936e.00cef","9df5f270.0b2cb"]]},{"id":"3758bd3f.5a154a","type":"comment","z":"227b219a.279c1e","name":"Get Warnings","info":"","x":310,"y":640,"wires":[]},{"id":"d8218f60.610898","type":"debug","z":"227b219a.279c1e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":640,"wires":[]},{"id":"4022523e.a3d9ac","type":"function","z":"227b219a.279c1e","name":"Set URL (Warnings)","func":"msg.headers = {};\nmsg.headers['accept'] = 'application/vnd.volvocars.api.connected-vehicle.vehicledata.v1+json';\nmsg.headers['vcc-api-key'] = flow.get(\"vcc-api-key\");\nmsg.headers['authorization'] = \"Bearer \" + flow.get(\"authorization\");\n\nmsg.url = 'https://api.volvocars.com/connected-vehicle/v1/vehicles/' + flow.get(\"Volvo_VIN\") + '/warnings';\nmsg.topic = flow.get(\"Volvo_VIN\") + '/warnings';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":680,"wires":[["94cd005c.b23708"]]},{"id":"356ba5e0.7a9d52","type":"comment","z":"227b219a.279c1e","name":"Enable to read Warnings","info":"","x":930,"y":600,"wires":[]},{"id":"94cd005c.b23708","type":"http request","z":"227b219a.279c1e","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":680,"wires":[["d8218f60.610898","54f68da8.d4eea4"]]},{"id":"e9814c4d.46843","type":"comment","z":"227b219a.279c1e","name":"Get Tyre Status Values","info":"","x":340,"y":780,"wires":[]},{"id":"2bbb0a7f.a6e7ae","type":"debug","z":"227b219a.279c1e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":780,"wires":[]},{"id":"55ad1822.ba6418","type":"function","z":"227b219a.279c1e","name":"Set URL (Tyre Status Values)","func":"msg.headers = {};\nmsg.headers['accept'] = 'application/vnd.volvocars.api.connected-vehicle.vehicledata.v1+json';\nmsg.headers['vcc-api-key'] = flow.get(\"vcc-api-key\");\nmsg.headers['authorization'] = \"Bearer \" + flow.get(\"authorization\");\n\nmsg.url = 'https://api.volvocars.com/connected-vehicle/v1/vehicles/' + flow.get(\"Volvo_VIN\") + '/tyres';\nmsg.topic = flow.get(\"Volvo_VIN\") + '/tyres';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":820,"wires":[["2094c48f.f265ec"]]},{"id":"62d5c297.894c74","type":"comment","z":"227b219a.279c1e","name":"Enable to read Tyre Status Values","info":"","x":960,"y":740,"wires":[]},{"id":"2094c48f.f265ec","type":"http request","z":"227b219a.279c1e","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":820,"wires":[["2bbb0a7f.a6e7ae","abc9b422.90ae8"]]},{"id":"15c1b5c1.5fe65a","type":"comment","z":"227b219a.279c1e","name":"Get Vehicle Statistics","info":"","x":340,"y":920,"wires":[]},{"id":"f34ad2d5.697a2","type":"debug","z":"227b219a.279c1e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":920,"wires":[]},{"id":"3dae3fd7.1394a","type":"function","z":"227b219a.279c1e","name":"Set URL (Vehicle Statistics)","func":"msg.headers = {};\nmsg.headers['accept'] = 'application/vnd.volvocars.api.connected-vehicle.vehicledata.v1+json';\nmsg.headers['vcc-api-key'] = flow.get(\"vcc-api-key\");\nmsg.headers['authorization'] = \"Bearer \" + flow.get(\"authorization\");\n\nmsg.url = 'https://api.volvocars.com/connected-vehicle/v1/vehicles/' + flow.get(\"Volvo_VIN\") + '/statistics';\nmsg.topic = flow.get(\"Volvo_VIN\") + '/statistics';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":960,"wires":[["ae3254bc.367bf"]]},{"id":"e54d494d.f609e","type":"comment","z":"227b219a.279c1e","name":"Enable to read Vehicle Statistics","info":"","x":950,"y":880,"wires":[]},{"id":"ae3254bc.367bf","type":"http request","z":"227b219a.279c1e","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":960,"wires":[["f34ad2d5.697a2","e9a68259.3358e"]]},{"id":"ec35b4bd.96ee08","type":"comment","z":"227b219a.279c1e","name":"Get Odometer Value","info":"","x":330,"y":1060,"wires":[]},{"id":"88e974db.8e5048","type":"debug","z":"227b219a.279c1e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":1060,"wires":[]},{"id":"fd5d064d.7f84d","type":"function","z":"227b219a.279c1e","name":"Set URL (Odometer Value)","func":"msg.headers = {};\nmsg.headers['accept'] = 'application/vnd.volvocars.api.connected-vehicle.vehicledata.v1+json';\nmsg.headers['vcc-api-key'] = flow.get(\"vcc-api-key\");\nmsg.headers['authorization'] = \"Bearer \" + flow.get(\"authorization\");\n\nmsg.url = 'https://api.volvocars.com/connected-vehicle/v1/vehicles/' + flow.get(\"Volvo_VIN\") + '/odometer';\nmsg.topic = flow.get(\"Volvo_VIN\") + '/odometer';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1100,"wires":[["e01fe993.71c6f8"]]},{"id":"60a38d1.8a5a974","type":"comment","z":"227b219a.279c1e","name":"Enable to read Odometer Value","info":"","x":950,"y":1020,"wires":[]},{"id":"e01fe993.71c6f8","type":"http request","z":"227b219a.279c1e","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":1100,"wires":[["88e974db.8e5048","90531bf6.b7713"]]},{"id":"6b25b3e.668074c","type":"comment","z":"227b219a.279c1e","name":"Get Fuel Amount","info":"","x":320,"y":1200,"wires":[]},{"id":"de4f57a2.eafd88","type":"debug","z":"227b219a.279c1e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":1200,"wires":[]},{"id":"759e06cf.f72958","type":"function","z":"227b219a.279c1e","name":"Set URL (Fuel Amount)","func":"msg.headers = {};\nmsg.headers['accept'] = 'application/vnd.volvocars.api.connected-vehicle.vehicledata.v1+json';\nmsg.headers['vcc-api-key'] = flow.get(\"vcc-api-key\");\nmsg.headers['authorization'] = \"Bearer \" + flow.get(\"authorization\");\n\nmsg.url = 'https://api.volvocars.com/connected-vehicle/v1/vehicles/' + flow.get(\"Volvo_VIN\") + '/fuel';\nmsg.topic = flow.get(\"Volvo_VIN\") + '/fuel';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1240,"wires":[["df20c9a3.12a5e8"]]},{"id":"a666eef6.18e38","type":"comment","z":"227b219a.279c1e","name":"Enable to read Fuel Amount","info":"","x":940,"y":1160,"wires":[]},{"id":"df20c9a3.12a5e8","type":"http request","z":"227b219a.279c1e","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":1240,"wires":[["de4f57a2.eafd88","527a0a01.6c7984"]]},{"id":"cd2843e6.18fc48","type":"comment","z":"227b219a.279c1e","name":"Get Environment Values","info":"","x":350,"y":1340,"wires":[]},{"id":"ab5c4af.3f16638","type":"debug","z":"227b219a.279c1e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":1340,"wires":[]},{"id":"31b173ec.2fdd04","type":"function","z":"227b219a.279c1e","name":"Set URL (Environment Values)","func":"msg.headers = {};\nmsg.headers['accept'] = 'application/vnd.volvocars.api.connected-vehicle.vehicledata.v1+json';\nmsg.headers['vcc-api-key'] = flow.get(\"vcc-api-key\");\nmsg.headers['authorization'] = \"Bearer \" + flow.get(\"authorization\");\n\nmsg.url = 'https://api.volvocars.com/connected-vehicle/v1/vehicles/' + flow.get(\"Volvo_VIN\") + '/environment';\nmsg.topic = flow.get(\"Volvo_VIN\") + '/environment';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":1380,"wires":[["8eae0c5e.fd2248"]]},{"id":"8d753913.608c38","type":"comment","z":"227b219a.279c1e","name":"Enable to read Environment Values","info":"","x":960,"y":1300,"wires":[]},{"id":"8eae0c5e.fd2248","type":"http request","z":"227b219a.279c1e","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":1380,"wires":[["ab5c4af.3f16638","7b384730.6b2f1"]]},{"id":"75b74bfd.39635c","type":"comment","z":"227b219a.279c1e","name":"Get Engine Diagnostics","info":"","x":340,"y":1480,"wires":[]},{"id":"df54cf45.d46998","type":"debug","z":"227b219a.279c1e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":1480,"wires":[]},{"id":"6a42234d.0319f4","type":"function","z":"227b219a.279c1e","name":"Set URL (Engine Diagnostics)","func":"msg.headers = {};\nmsg.headers['accept'] = 'application/vnd.volvocars.api.connected-vehicle.vehicledata.v1+json';\nmsg.headers['vcc-api-key'] = flow.get(\"vcc-api-key\");\nmsg.headers['authorization'] = \"Bearer \" + flow.get(\"authorization\");\n\nmsg.url = 'https://api.volvocars.com/connected-vehicle/v1/vehicles/' + flow.get(\"Volvo_VIN\") + '/engine';\nmsg.topic = flow.get(\"Volvo_VIN\") + '/engine';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":1520,"wires":[["de872a69.393fe"]]},{"id":"ef98bacc.20b89","type":"comment","z":"227b219a.279c1e","name":"Enable to read Engine Diagnostics","info":"","x":960,"y":1440,"wires":[]},{"id":"de872a69.393fe","type":"http request","z":"227b219a.279c1e","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":1520,"wires":[["df54cf45.d46998","b9e930a7.c937a8"]]},{"id":"9fd4a804.e90038","type":"comment","z":"227b219a.279c1e","name":"Get Engine Status","info":"","x":330,"y":1620,"wires":[]},{"id":"7d36c900.3024d","type":"debug","z":"227b219a.279c1e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":1620,"wires":[]},{"id":"e0d10063.d8adc","type":"function","z":"227b219a.279c1e","name":"Set URL (Engine Status)","func":"msg.headers = {};\nmsg.headers['accept'] = 'application/vnd.volvocars.api.connected-vehicle.vehicledata.v1+json';\nmsg.headers['vcc-api-key'] = flow.get(\"vcc-api-key\");\nmsg.headers['authorization'] = \"Bearer \" + flow.get(\"authorization\");\n\nmsg.url = 'https://api.volvocars.com/connected-vehicle/v1/vehicles/' + flow.get(\"Volvo_VIN\") + '/engine-status';\nmsg.topic = flow.get(\"Volvo_VIN\") + '/engine-status';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1660,"wires":[["340b9bcd.2c9384"]]},{"id":"e4678077.ae2308","type":"comment","z":"227b219a.279c1e","name":"Enable to read Engine Status","info":"","x":940,"y":1580,"wires":[]},{"id":"340b9bcd.2c9384","type":"http request","z":"227b219a.279c1e","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":1660,"wires":[["7d36c900.3024d","2666d1aa.ad42b6"]]},{"id":"302e01a4.dab0e6","type":"comment","z":"227b219a.279c1e","name":"Get Door And Lock Status Values","info":"","x":380,"y":1760,"wires":[]},{"id":"9a0d767.6ec3608","type":"debug","z":"227b219a.279c1e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":1760,"wires":[]},{"id":"a8624631.06c12","type":"function","z":"227b219a.279c1e","name":"Set URL (Door And Lock Status Values)","func":"msg.headers = {};\nmsg.headers['accept'] = 'application/vnd.volvocars.api.connected-vehicle.vehicledata.v1+json';\nmsg.headers['vcc-api-key'] = flow.get(\"vcc-api-key\");\nmsg.headers['authorization'] = \"Bearer \" + flow.get(\"authorization\");\n\nmsg.url = 'https://api.volvocars.com/connected-vehicle/v1/vehicles/' + flow.get(\"Volvo_VIN\") + '/doors';\nmsg.topic = flow.get(\"Volvo_VIN\") + '/doors';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1800,"wires":[["cdaadb20.177a48"]]},{"id":"5c518c32.d14a34","type":"comment","z":"227b219a.279c1e","name":"Enable to read Door And Lock Status Values","info":"","x":990,"y":1720,"wires":[]},{"id":"cdaadb20.177a48","type":"http request","z":"227b219a.279c1e","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":1800,"wires":[["9a0d767.6ec3608","2ec22b6d.a06694"]]},{"id":"f594d110.35a86","type":"comment","z":"227b219a.279c1e","name":"Get Diagnostic Values","info":"","x":340,"y":1900,"wires":[]},{"id":"83e313f6.b06e88","type":"debug","z":"227b219a.279c1e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":1900,"wires":[]},{"id":"1450e8e2.543d4f","type":"function","z":"227b219a.279c1e","name":"Set URL (Diagnostic Values)","func":"msg.headers = {};\nmsg.headers['accept'] = 'application/vnd.volvocars.api.connected-vehicle.vehicledata.v1+json';\nmsg.headers['vcc-api-key'] = flow.get(\"vcc-api-key\");\nmsg.headers['authorization'] = \"Bearer \" + flow.get(\"authorization\");\n\nmsg.url = 'https://api.volvocars.com/connected-vehicle/v1/vehicles/' + flow.get(\"Volvo_VIN\") + '/diagnostics';\nmsg.topic = flow.get(\"Volvo_VIN\") + '/diagnostics';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1940,"wires":[["fa1e045f.f5dd8"]]},{"id":"84574739.d23fb","type":"comment","z":"227b219a.279c1e","name":"Enable to read Diagnostic Values","info":"","x":950,"y":1860,"wires":[]},{"id":"fa1e045f.f5dd8","type":"http request","z":"227b219a.279c1e","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":1940,"wires":[["83e313f6.b06e88","9a234029.e4adf8"]]},{"id":"b342d530.d554b","type":"comment","z":"227b219a.279c1e","name":"Get Brake Status","info":"","x":320,"y":2040,"wires":[]},{"id":"21de5a35.b1832e","type":"debug","z":"227b219a.279c1e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":2040,"wires":[]},{"id":"16580a0f.f087ce","type":"function","z":"227b219a.279c1e","name":"Set URL (Brake Status)","func":"msg.headers = {};\nmsg.headers['accept'] = 'application/vnd.volvocars.api.connected-vehicle.vehicledata.v1+json';\nmsg.headers['vcc-api-key'] = flow.get(\"vcc-api-key\");\nmsg.headers['authorization'] = \"Bearer \" + flow.get(\"authorization\");\n\nmsg.url = 'https://api.volvocars.com/connected-vehicle/v1/vehicles/' + flow.get(\"Volvo_VIN\") + '/brakes';\nmsg.topic = flow.get(\"Volvo_VIN\") + '/brakes';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":2080,"wires":[["e951c6d3.d61de8"]]},{"id":"1805b613.46ebca","type":"comment","z":"227b219a.279c1e","name":"Enable to read Brake Status","info":"","x":940,"y":2000,"wires":[]},{"id":"e951c6d3.d61de8","type":"http request","z":"227b219a.279c1e","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":2080,"wires":[["21de5a35.b1832e","f4c23d2b.487fc8"]]},{"id":"b969a083.a2a65","type":"comment","z":"227b219a.279c1e","name":"Get Available Commands","info":"","x":350,"y":2180,"wires":[]},{"id":"cc918784.277ef","type":"debug","z":"227b219a.279c1e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":2180,"wires":[]},{"id":"579e87a8.88831","type":"function","z":"227b219a.279c1e","name":"Set URL (Available Commands)","func":"msg.headers = {};\nmsg.headers['accept'] = 'application/vnd.volvocars.api.connected-vehicle.commandlist.v1+json';\nmsg.headers['vcc-api-key'] = flow.get(\"vcc-api-key\");\nmsg.headers['authorization'] = \"Bearer \" + flow.get(\"authorization\");\n\nmsg.url = 'https://api.volvocars.com/connected-vehicle/v1/vehicles/' + flow.get(\"Volvo_VIN\") + '/commands';\nmsg.topic = flow.get(\"Volvo_VIN\") + '/commands';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":2220,"wires":[["99dadd9f.280358"]]},{"id":"467756c8.7d5b28","type":"comment","z":"227b219a.279c1e","name":"Enable to read Available Commands","info":"","x":970,"y":2140,"wires":[]},{"id":"99dadd9f.280358","type":"http request","z":"227b219a.279c1e","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":2220,"wires":[["cc918784.277ef","21772da3.63dbaa"]]},{"id":"78e37cd0.069494","type":"comment","z":"227b219a.279c1e","name":"Post Climatization Start","info":"","x":340,"y":2400,"wires":[]},{"id":"ebe9db27.1ce52","type":"debug","z":"227b219a.279c1e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":2440,"wires":[]},{"id":"d8c0a6d2.dab528","type":"function","z":"227b219a.279c1e","name":"Set URL (Climatization Start)","func":"msg.headers = {};\nmsg.headers['content-type'] = 'application/vnd.volvocars.api.connected-vehicle.climatizationstart.v1+json';\nmsg.headers['vcc-api-key'] = flow.get(\"vcc-api-key\");\nmsg.headers['authorization'] = \"Bearer \" + flow.get(\"authorization\");\n\nmsg.url = 'https://api.volvocars.com/connected-vehicle/v1/vehicles/' + flow.get(\"Volvo_VIN\") + '/commands/climatization-start';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":2440,"wires":[["4594de8b.2ded68"]]},{"id":"82a54349.190628","type":"comment","z":"227b219a.279c1e","name":"Enable to read  Climatization Start","info":"","x":960,"y":2400,"wires":[]},{"id":"4594de8b.2ded68","type":"http request","z":"227b219a.279c1e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":2440,"wires":[["ebe9db27.1ce52"]]},{"id":"1e258de5.a18b2a","type":"comment","z":"227b219a.279c1e","name":"Post Climatization Stop","info":"","x":340,"y":2500,"wires":[]},{"id":"40e687f8.4e04d","type":"debug","z":"227b219a.279c1e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":2540,"wires":[]},{"id":"b0a26b78.ca9bd","type":"function","z":"227b219a.279c1e","name":"Set URL (Climatization Stop)","func":"msg.headers = {};\nmsg.headers['content-type'] = 'application/vnd.volvocars.api.connected-vehicle.climatizationstop.v1+json';\nmsg.headers['vcc-api-key'] = flow.get(\"vcc-api-key\");\nmsg.headers['authorization'] = \"Bearer \" + flow.get(\"authorization\");\n\nmsg.url = 'https://api.volvocars.com/connected-vehicle/v1/vehicles/' + flow.get(\"Volvo_VIN\") + '/commands/climatization-stop';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":2540,"wires":[["ff335d39.2bbd18"]]},{"id":"13fcdca1.2b4c23","type":"comment","z":"227b219a.279c1e","name":"Enable to read Climatization Stop","info":"","x":960,"y":2500,"wires":[]},{"id":"ff335d39.2bbd18","type":"http request","z":"227b219a.279c1e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":2540,"wires":[["40e687f8.4e04d"]]},{"id":"bb0319dd.6df2c8","type":"comment","z":"227b219a.279c1e","name":"Post Engine Start","info":"","x":320,"y":2600,"wires":[]},{"id":"923fcfe0.0ae018","type":"debug","z":"227b219a.279c1e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":2640,"wires":[]},{"id":"ca26124e.69ad7","type":"function","z":"227b219a.279c1e","name":"Set URL (Engine Start)","func":"msg.headers = {};\nmsg.headers['content-type'] = 'application/vnd.volvocars.api.connected-vehicle.enginestart.v1+json';\nmsg.headers['vcc-api-key'] = flow.get(\"vcc-api-key\");\nmsg.headers['authorization'] = \"Bearer \" + flow.get(\"authorization\");\n\nmsg.url = 'https://api.volvocars.com/connected-vehicle/v1/vehicles/' + flow.get(\"Volvo_VIN\") + '/commands/engine-start';\nmsg.payload = {\n  \"runtimeMinutes\": 10 // Max. runtime can be 15 minutes\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":2640,"wires":[["872b0481.77ad28"]]},{"id":"283e9e74.4ddd0a","type":"comment","z":"227b219a.279c1e","name":"Enable to read Engine Start","info":"","x":940,"y":2600,"wires":[]},{"id":"872b0481.77ad28","type":"http request","z":"227b219a.279c1e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":2640,"wires":[["923fcfe0.0ae018"]]},{"id":"1ada18f4.15af0f","type":"comment","z":"227b219a.279c1e","name":"Post Engine Stop","info":"","x":320,"y":2700,"wires":[]},{"id":"48071057.1f7898","type":"debug","z":"227b219a.279c1e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":2740,"wires":[]},{"id":"a2bf4b08.477ed","type":"function","z":"227b219a.279c1e","name":"Set URL (Engine Stop)","func":"msg.headers = {};\nmsg.headers['content-type'] = 'application/vnd.volvocars.api.connected-vehicle.enginestop.v1+json';\nmsg.headers['vcc-api-key'] = flow.get(\"vcc-api-key\");\nmsg.headers['authorization'] = \"Bearer \" + flow.get(\"authorization\");\n\nmsg.url = 'https://api.volvocars.com/connected-vehicle/v1/vehicles/' + flow.get(\"Volvo_VIN\") + '/commands/engine-stop';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":2740,"wires":[["5024b708.65fca8"]]},{"id":"6e93df3c.fc683","type":"comment","z":"227b219a.279c1e","name":"Enable to read Engine Stop","info":"","x":940,"y":2700,"wires":[]},{"id":"5024b708.65fca8","type":"http request","z":"227b219a.279c1e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":2740,"wires":[["48071057.1f7898"]]},{"id":"688c881b.6aeea8","type":"comment","z":"227b219a.279c1e","name":"Post Flash","info":"","x":300,"y":2800,"wires":[]},{"id":"c99605f8.eec1f","type":"debug","z":"227b219a.279c1e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":2840,"wires":[]},{"id":"722baeec.2078a8","type":"function","z":"227b219a.279c1e","name":"Set URL (Flash)","func":"msg.headers = {};\nmsg.headers['content-type'] = 'application/vnd.volvocars.api.connected-vehicle.flash.v1+json';\nmsg.headers['vcc-api-key'] = flow.get(\"vcc-api-key\");\nmsg.headers['authorization'] = \"Bearer \" + flow.get(\"authorization\");\n\nmsg.url = 'https://api.volvocars.com/connected-vehicle/v1/vehicles/' + flow.get(\"Volvo_VIN\") + '/commands/flash';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":2840,"wires":[["ab873e1c.20ade"]]},{"id":"a6fcce4a.9d3ef","type":"comment","z":"227b219a.279c1e","name":"Enable to read Flash","info":"","x":920,"y":2800,"wires":[]},{"id":"ab873e1c.20ade","type":"http request","z":"227b219a.279c1e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":2840,"wires":[["c99605f8.eec1f"]]},{"id":"80c9babd.47791","type":"comment","z":"227b219a.279c1e","name":"Post Honk And Flash","info":"","x":340,"y":2900,"wires":[]},{"id":"38e7d79e.8357d8","type":"debug","z":"227b219a.279c1e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":2940,"wires":[]},{"id":"dbae3b3f.ebde08","type":"function","z":"227b219a.279c1e","name":"Set URL (Honk And Flash)","func":"msg.headers = {};\nmsg.headers['content-type'] = 'application/vnd.volvocars.api.connected-vehicle.honkandflash.v1+json';\nmsg.headers['vcc-api-key'] = flow.get(\"vcc-api-key\");\nmsg.headers['authorization'] = \"Bearer \" + flow.get(\"authorization\");\n\nmsg.url = 'https://api.volvocars.com/connected-vehicle/v1/vehicles/' + flow.get(\"Volvo_VIN\") + '/commands/honk-flash';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":2940,"wires":[["777cc4ba.a13a7c"]]},{"id":"f32268ae.0ff49","type":"comment","z":"227b219a.279c1e","name":"Enable to read Honk And Flash","info":"","x":950,"y":2900,"wires":[]},{"id":"777cc4ba.a13a7c","type":"http request","z":"227b219a.279c1e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":2940,"wires":[["38e7d79e.8357d8"]]},{"id":"6116c6ae.7896a","type":"comment","z":"227b219a.279c1e","name":"Post Honk","info":"","x":300,"y":3000,"wires":[]},{"id":"742e8a33.6c77e4","type":"debug","z":"227b219a.279c1e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":3040,"wires":[]},{"id":"ca8e197a.0f8cf8","type":"function","z":"227b219a.279c1e","name":"Set URL (Honk)","func":"msg.headers = {};\nmsg.headers['content-type'] = 'application/vnd.volvocars.api.connected-vehicle.honk.v1+json';\nmsg.headers['vcc-api-key'] = flow.get(\"vcc-api-key\");\nmsg.headers['authorization'] = \"Bearer \" + flow.get(\"authorization\");\n\nmsg.url = 'https://api.volvocars.com/connected-vehicle/v1/vehicles/' + flow.get(\"Volvo_VIN\") + '/commands/honk';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":3040,"wires":[["19e6f0c4.b6cf37"]]},{"id":"a0c686e1.cd7c3","type":"comment","z":"227b219a.279c1e","name":"Enable to read Honk","info":"","x":910,"y":3000,"wires":[]},{"id":"19e6f0c4.b6cf37","type":"http request","z":"227b219a.279c1e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":3040,"wires":[["742e8a33.6c77e4"]]},{"id":"8ea29fa4.275d48","type":"comment","z":"227b219a.279c1e","name":"Post Lock","info":"","x":300,"y":3100,"wires":[]},{"id":"10b04417.123d14","type":"debug","z":"227b219a.279c1e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":3140,"wires":[]},{"id":"d21fff30.b6159","type":"function","z":"227b219a.279c1e","name":"Set URL (Lock)","func":"msg.headers = {};\nmsg.headers['content-type'] = 'application/vnd.volvocars.api.connected-vehicle.lock.v1+json';\nmsg.headers['vcc-api-key'] = flow.get(\"vcc-api-key\");\nmsg.headers['authorization'] = \"Bearer \" + flow.get(\"authorization\");\n\nmsg.url = 'https://api.volvocars.com/connected-vehicle/v1/vehicles/' + flow.get(\"Volvo_VIN\") + '/commands/lock';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":3140,"wires":[["5866db00.475d1c"]]},{"id":"d25bc283.70a038","type":"comment","z":"227b219a.279c1e","name":"Enable to read Lock","info":"","x":910,"y":3100,"wires":[]},{"id":"5866db00.475d1c","type":"http request","z":"227b219a.279c1e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":3140,"wires":[["10b04417.123d14"]]},{"id":"6da9ce98.60adc","type":"comment","z":"227b219a.279c1e","name":"Post Unlock","info":"","x":310,"y":3200,"wires":[]},{"id":"4d78b697.108d18","type":"debug","z":"227b219a.279c1e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":3240,"wires":[]},{"id":"2aa62d24.fa9c12","type":"function","z":"227b219a.279c1e","name":"Set URL (Unlock)","func":"msg.headers = {};\nmsg.headers['content-type'] = 'application/vnd.volvocars.api.connected-vehicle.unlock.v1+json';\nmsg.headers['vcc-api-key'] = flow.get(\"vcc-api-key\");\nmsg.headers['authorization'] = \"Bearer \" + flow.get(\"authorization\");\n\nmsg.url = 'https://api.volvocars.com/connected-vehicle/v1/vehicles/' + flow.get(\"Volvo_VIN\") + '/commands/unlock';\nmsg.payload = {\n  \"unlockDuration\": 120 // Max. unlock duration can be 120 seconds\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":3240,"wires":[["92a8cae6.a385b"]]},{"id":"6b153bfc.96cebc","type":"comment","z":"227b219a.279c1e","name":"Enable to read Unlock","info":"","x":920,"y":3200,"wires":[]},{"id":"92a8cae6.a385b","type":"http request","z":"227b219a.279c1e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":3240,"wires":[["4d78b697.108d18"]]},{"id":"fe52cd6.2cba1b","type":"comment","z":"227b219a.279c1e","name":"Read Requests from the Car","info":"","x":640,"y":180,"wires":[]},{"id":"c6e545bc.cdd05","type":"comment","z":"227b219a.279c1e","name":"Write Commands to the Car","info":"","x":640,"y":2360,"wires":[]},{"id":"20938374.2a6434","type":"comment","z":"227b219a.279c1e","name":"List Active Command Requests","info":"","x":370,"y":3300,"wires":[]},{"id":"7791c70f.4c5f2","type":"debug","z":"227b219a.279c1e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":3340,"wires":[]},{"id":"9b67b039.7a3188","type":"function","z":"227b219a.279c1e","name":"Set URL (Active Command Requests)","func":"msg.headers = {};\nmsg.headers['accept'] = 'application/vnd.volvocars.api.connected-vehicle.requestlist.v1+json';\nmsg.headers['vcc-api-key'] = flow.get(\"vcc-api-key\");\nmsg.headers['authorization'] = \"Bearer \" + flow.get(\"authorization\");\n\nmsg.url = 'https://api.volvocars.com/connected-vehicle/v1/vehicles/' + flow.get(\"Volvo_VIN\") + '/requests/';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":3340,"wires":[["bfbe664.9177798"]]},{"id":"aa6d2779.899b1","type":"comment","z":"227b219a.279c1e","name":"Enable to read Active Command Requests","info":"","x":980,"y":3300,"wires":[]},{"id":"bfbe664.9177798","type":"http request","z":"227b219a.279c1e","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":3340,"wires":[["7791c70f.4c5f2"]]},{"id":"9d0d7ca7.a15f2","type":"comment","z":"227b219a.279c1e","name":"Get Request Details","info":"","x":330,"y":3400,"wires":[]},{"id":"d5091b27.2cfaf8","type":"debug","z":"227b219a.279c1e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":3440,"wires":[]},{"id":"e6afa895.606a7","type":"function","z":"227b219a.279c1e","name":"Set URL (Request Details)","func":"msg.headers = {};\nmsg.headers['accept'] = 'application/vnd.volvocars.api.connected-vehicle.requestdetailresponse.v1+json';\nmsg.headers['vcc-api-key'] = flow.get(\"vcc-api-key\");\nmsg.headers['authorization'] = \"Bearer \" + flow.get(\"authorization\");\n\nmsg.url = 'https://api.volvocars.com/connected-vehicle/v1/vehicles/' + flow.get(\"Volvo_VIN\") + '/requests/{id}';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":3440,"wires":[["6ee6ee3e.2e3468"]]},{"id":"a0135a80.e7888","type":"comment","z":"227b219a.279c1e","name":"Enable to read Request Details","info":"","x":950,"y":3400,"wires":[]},{"id":"6ee6ee3e.2e3468","type":"http request","z":"227b219a.279c1e","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":3440,"wires":[["d5091b27.2cfaf8"]]},{"id":"7dd35d34.c2d08c","type":"comment","z":"227b219a.279c1e","name":"Search Command Requests","info":"","x":360,"y":3500,"wires":[]},{"id":"7e21a98a.c7c4b8","type":"debug","z":"227b219a.279c1e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":3540,"wires":[]},{"id":"65d768a8.4f6ba","type":"function","z":"227b219a.279c1e","name":"Set URL (Command Requests)","func":"msg.headers = {};\nmsg.headers['accept'] = 'application/vnd.volvocars.api.connected-vehicle.searchrequestlist.v1+json';\nmsg.headers['vcc-api-key'] = flow.get(\"vcc-api-key\");\nmsg.headers['authorization'] = \"Bearer \" + flow.get(\"authorization\");\n\nmsg.url = 'https://api.volvocars.com/connected-vehicle/v1/vehicles/' + flow.get(\"Volvo_VIN\") + '/requests/search';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":3540,"wires":[["2ff584c4.a60654"]]},{"id":"2552b252.d5186e","type":"comment","z":"227b219a.279c1e","name":"Enable to read Command Requests","info":"","x":960,"y":3500,"wires":[]},{"id":"2ff584c4.a60654","type":"http request","z":"227b219a.279c1e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":3540,"wires":[["7e21a98a.c7c4b8"]]},{"id":"abb580c.58795","type":"change","z":"227b219a.279c1e","name":"Set Volvo_VIN","rules":[{"t":"set","p":"Volvo_VIN","pt":"flow","to":"payload.data[0].vin","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":260,"wires":[[]]},{"id":"9256631b.21ac28","type":"inject","z":"227b219a.279c1e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":400,"wires":[["a8a66cb3.e6b2e"]]},{"id":"fe4af335.a685f","type":"inject","z":"227b219a.279c1e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":540,"wires":[["afff1fb.67cc4e"]]},{"id":"1ac40807.857de","type":"inject","z":"227b219a.279c1e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":680,"wires":[["4022523e.a3d9ac"]]},{"id":"727d36df.a226b","type":"inject","z":"227b219a.279c1e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":820,"wires":[["55ad1822.ba6418"]]},{"id":"a38d49c7.33d9f","type":"inject","z":"227b219a.279c1e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":960,"wires":[["3dae3fd7.1394a"]]},{"id":"d51f1fd5.d3c82","type":"inject","z":"227b219a.279c1e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1100,"wires":[["fd5d064d.7f84d"]]},{"id":"e452fcb2.ad01","type":"inject","z":"227b219a.279c1e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1240,"wires":[["759e06cf.f72958"]]},{"id":"e69cca4e.4059a8","type":"inject","z":"227b219a.279c1e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1380,"wires":[["31b173ec.2fdd04"]]},{"id":"1fbbe02d.4379f8","type":"inject","z":"227b219a.279c1e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1520,"wires":[["6a42234d.0319f4"]]},{"id":"ffd8d69d.50ddc","type":"inject","z":"227b219a.279c1e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1660,"wires":[["e0d10063.d8adc"]]},{"id":"9b35c050.ab4fc8","type":"inject","z":"227b219a.279c1e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1800,"wires":[["a8624631.06c12"]]},{"id":"444c7922.5945d","type":"inject","z":"227b219a.279c1e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1940,"wires":[["1450e8e2.543d4f"]]},{"id":"16ae7eda.6a6e99","type":"inject","z":"227b219a.279c1e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":2080,"wires":[["16580a0f.f087ce"]]},{"id":"378a02d7.236536","type":"inject","z":"227b219a.279c1e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":2220,"wires":[["579e87a8.88831"]]},{"id":"ba569e26.457328","type":"inject","z":"227b219a.279c1e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":2440,"wires":[["d8c0a6d2.dab528"]]},{"id":"bb153e84.2fdce","type":"inject","z":"227b219a.279c1e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":2540,"wires":[["b0a26b78.ca9bd"]]},{"id":"cb4ec7c1.34934","type":"inject","z":"227b219a.279c1e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":2640,"wires":[["ca26124e.69ad7"]]},{"id":"b5fbcac2.5f7b38","type":"inject","z":"227b219a.279c1e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":2740,"wires":[["a2bf4b08.477ed"]]},{"id":"ff6bfa96.a7b8c","type":"inject","z":"227b219a.279c1e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":2840,"wires":[["722baeec.2078a8"]]},{"id":"d3015cef.b5b1c8","type":"inject","z":"227b219a.279c1e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":2940,"wires":[["dbae3b3f.ebde08"]]},{"id":"4846b66.1fae7c8","type":"inject","z":"227b219a.279c1e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":3040,"wires":[["ca8e197a.0f8cf8"]]},{"id":"117fb0ae.59f5ff","type":"inject","z":"227b219a.279c1e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":3140,"wires":[["d21fff30.b6159"]]},{"id":"88e3e0de.5c09c","type":"inject","z":"227b219a.279c1e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":3240,"wires":[["2aa62d24.fa9c12"]]},{"id":"f6b2a720.097048","type":"inject","z":"227b219a.279c1e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":3340,"wires":[["9b67b039.7a3188"]]},{"id":"e1ffcf35.3e3078","type":"inject","z":"227b219a.279c1e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":3440,"wires":[["e6afa895.606a7"]]},{"id":"c7dc608c.749678","type":"inject","z":"227b219a.279c1e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":3540,"wires":[["65d768a8.4f6ba"]]},{"id":"57a77eba.fcf08","type":"function","z":"227b219a.279c1e","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":400,"wires":[[]]},{"id":"9df5f270.0b2cb","type":"function","z":"227b219a.279c1e","name":"","func":"// Alert Sensors\n\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\n\nif (msg.payload.data.frontLeft.value == \"CLOSED\") {\n    msg1.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXwindowsFrontLeft\"),\"nvalue\":1,\"svalue\":msg.payload.data.frontLeft.value.substring(0,1).toUpperCase() + msg.payload.data.frontLeft.value.substring(1).toLowerCase()};\n} else if (msg.payload.data.frontLeft.value == \"OPEN\"){\n    msg1.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXwindowsFrontLeft\"),\"nvalue\":4,\"svalue\":msg.payload.data.frontLeft.value.substring(0,1).toUpperCase() + msg.payload.data.frontLeft.value.substring(1).toLowerCase()};\n}\n\nif (msg.payload.data.frontRight.value == \"CLOSED\") {\n    msg2.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXwindowsFrontRight\"),\"nvalue\":1,\"svalue\":msg.payload.data.frontRight.value.substring(0,1).toUpperCase() + msg.payload.data.frontRight.value.substring(1).toLowerCase()};\n} else if (msg.payload.data.frontRight.value == \"OPEN\"){\n    msg2.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXwindowsFrontRight\"),\"nvalue\":4,\"svalue\":msg.payload.data.frontRight.value.substring(0,1).toUpperCase() + msg.payload.data.frontRight.value.substring(1).toLowerCase()};\n}\n\nif (msg.payload.data.rearLeft.value == \"CLOSED\") {\n    msg3.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXwindowsRearLeft\"),\"nvalue\":1,\"svalue\":msg.payload.data.rearLeft.value.substring(0,1).toUpperCase() + msg.payload.data.rearLeft.value.substring(1).toLowerCase()};\n} else if (msg.payload.data.rearLeft.value == \"OPEN\"){\n    msg3.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXwindowsRearLeft\"),\"nvalue\":4,\"svalue\":msg.payload.data.rearLeft.value.substring(0,1).toUpperCase() + msg.payload.data.rearLeft.value.substring(1).toLowerCase()};\n}\n\nif (msg.payload.data.rearRight.value == \"CLOSED\") {\n    msg4.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXwindowsRearRight\"),\"nvalue\":1,\"svalue\":msg.payload.data.rearRight.value.substring(0,1).toUpperCase() + msg.payload.data.rearRight.value.substring(1).toLowerCase()};\n} else if (msg.payload.data.rearRight.value == \"OPEN\"){\n    msg4.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXwindowsRearRight\"),\"nvalue\":4,\"svalue\":msg.payload.data.rearRight.value.substring(0,1).toUpperCase() + msg.payload.data.rearRight.value.substring(1).toLowerCase()};\n}\n\nreturn [[msg1,msg2,msg3,msg4]];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":540,"wires":[["efabacd9.ace0c8"]]},{"id":"54f68da8.d4eea4","type":"function","z":"227b219a.279c1e","name":"","func":"if (Object.entries(msg.payload.data).length === 0)  {\nmsg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXwarningsBulbFailure\"),\"nvalue\":0,\"svalue\":\"No Failures\"};\n} else {\nmsg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXwarningsBulbFailure\"),\"nvalue\":0,\"svalue\":msg.payload.data.bulbFailure.value.substring(0,1).toUpperCase() + msg.payload.data.bulbFailure.value.substring(1).toLowerCase()};\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":680,"wires":[["da3fa221.b0a0b"]]},{"id":"abc9b422.90ae8","type":"function","z":"227b219a.279c1e","name":"","func":"// Text Sensors\n\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\n\nmsg1.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXtyresFrontLeft\"),\"nvalue\":0,\"svalue\":msg.payload.data.frontLeft.value.substring(0,1).toUpperCase() + msg.payload.data.frontLeft.value.substring(1).toLowerCase()};\nmsg2.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXtyresFrontRight\"),\"nvalue\":0,\"svalue\":msg.payload.data.frontRight.value.substring(0,1).toUpperCase() + msg.payload.data.frontRight.value.substring(1).toLowerCase()};\nmsg3.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXtyresRearLeft\"),\"nvalue\":0,\"svalue\":msg.payload.data.rearLeft.value.substring(0,1).toUpperCase() + msg.payload.data.rearLeft.value.substring(1).toLowerCase()};\nmsg4.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXtyresRearRight\"),\"nvalue\":0,\"svalue\":msg.payload.data.rearRight.value.substring(0,1).toUpperCase() + msg.payload.data.rearRight.value.substring(1).toLowerCase()};\n\nreturn [[msg1,msg2,msg3,msg4]];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":820,"wires":[["fd7f3915.798cd"]]},{"id":"e9a68259.3358e","type":"function","z":"227b219a.279c1e","name":"","func":"// Custom Sensors\n\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar msg5 = {};\n\nmsg1.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXstatisticsAverageFuelConsumption\"),\"nvalue\":0,\"svalue\":msg.payload.data.averageFuelConsumption.value};\nmsg2.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXstatisticsAverageSpeed\"),\"nvalue\":0,\"svalue\":msg.payload.data.averageSpeed.value};\nmsg3.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXstatisticsTripMeter1\"),\"nvalue\":0,\"svalue\":msg.payload.data.tripMeter1.value};\nmsg4.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXstatisticsTripMeter2\"),\"nvalue\":0,\"svalue\":msg.payload.data.tripMeter2.value};\nmsg5.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXstatisticsDistanceToEmpty\"),\"nvalue\":0,\"svalue\":msg.payload.data.distanceToEmpty.value};\n\nreturn [[msg1,msg2,msg3,msg4,msg5]];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":960,"wires":[["6937fe20.3b001"]]},{"id":"90531bf6.b7713","type":"function","z":"227b219a.279c1e","name":"","func":"// Custom Sensor\n\nmsg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXodometerOdometer\"),\"nvalue\":0,\"svalue\":msg.payload.data.odometer.value};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":1100,"wires":[["65cb862f.b0291"]]},{"id":"527a0a01.6c7984","type":"function","z":"227b219a.279c1e","name":"","func":"// Custom Sensor\n\nmsg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXfuelFuelAmount\"),\"nvalue\":0,\"svalue\":msg.payload.data.fuelAmount.value};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":1240,"wires":[["b9c57c17.30fcf8"]]},{"id":"7b384730.6b2f1","type":"function","z":"227b219a.279c1e","name":"","func":"// Temperature Sensor\n\nmsg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXenvironmentExternalTemp\"),\"nvalue\":0,\"svalue\":msg.payload.data.externalTemp.value};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":1380,"wires":[["8487642c.9f4d5"]]},{"id":"b9e930a7.c937a8","type":"function","z":"227b219a.279c1e","name":"","func":"// Text Sensors and Temperature Sensor\n\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\n\nmsg1.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXengineEngineRunning\"),\"nvalue\":0,\"svalue\":msg.payload.data.engineRunning.value.substring(0,1).toUpperCase() + msg.payload.data.engineRunning.value.substring(1).toLowerCase()};\nmsg2.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXengineEngineCoolantLevel\"),\"nvalue\":0,\"svalue\":msg.payload.data.engineCoolantLevel.value.substring(0,1).toUpperCase() + msg.payload.data.engineCoolantLevel.value.substring(1).toLowerCase()};\nmsg3.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXengineOilLevel\"),\"nvalue\":0,\"svalue\":msg.payload.data.oilLevel.value.substring(0,1).toUpperCase() + msg.payload.data.oilLevel.value.substring(1).toLowerCase()};\nmsg4.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXengineEngineCoolantTemp\"),\"nvalue\":0,\"svalue\":msg.payload.data.engineCoolantTemp.value};\n\nreturn [[msg1,msg2,msg3,msg4]];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":1520,"wires":[["91d0c058.84d468"]]},{"id":"2666d1aa.ad42b6","type":"function","z":"227b219a.279c1e","name":"","func":"// Text Sensor\n\nmsg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXengine-statusEngineRunning\"),\"nvalue\":0,\"svalue\":msg.payload.data.engineRunning.value.substring(0,1).toUpperCase() + msg.payload.data.engineRunning.value.substring(1).toLowerCase()};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":1660,"wires":[["253b4a01.7cd7f6"]]},{"id":"2ec22b6d.a06694","type":"function","z":"227b219a.279c1e","name":"","func":"// Alert Sensors\n\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar msg5 = {};\nvar msg6 = {};\nvar msg7 = {};\n\n\nif (msg.payload.data.carLocked.value == \"LOCKED\") {\n    msg1.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXdoorsCarLocked\"),\"nvalue\":1,\"svalue\":msg.payload.data.carLocked.value.substring(0,1).toUpperCase() + msg.payload.data.carLocked.value.substring(1).toLowerCase()};\n} else if (msg.payload.data.carLocked.value == \"UNLOCKED\"){\n    msg1.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXdoorsCarLocked\"),\"nvalue\":4,\"svalue\":msg.payload.data.carLocked.value.substring(0,1).toUpperCase() + msg.payload.data.carLocked.value.substring(1).toLowerCase()};\n}\n\nif (msg.payload.data.frontLeft.value == \"CLOSED\") {\n    msg2.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXdoorsFrontLeft\"),\"nvalue\":1,\"svalue\":msg.payload.data.frontLeft.value.substring(0,1).toUpperCase() + msg.payload.data.frontLeft.value.substring(1).toLowerCase()};\n} else if (msg.payload.data.frontLeft.value == \"OPEN\"){\n    msg2.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXdoorsFrontLeft\"),\"nvalue\":4,\"svalue\":msg.payload.data.frontLeft.value.substring(0,1).toUpperCase() + msg.payload.data.frontLeft.value.substring(1).toLowerCase()};\n}\n\nif (msg.payload.data.frontRight.value == \"CLOSED\") {\n    msg3.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXdoorsFrontRight\"),\"nvalue\":1,\"svalue\":msg.payload.data.frontRight.value.substring(0,1).toUpperCase() + msg.payload.data.frontRight.value.substring(1).toLowerCase()};\n} else if (msg.payload.data.frontRight.value == \"OPEN\"){\n    msg3.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXdoorsFrontRight\"),\"nvalue\":4,\"svalue\":msg.payload.data.frontRight.value.substring(0,1).toUpperCase() + msg.payload.data.frontRight.value.substring(1).toLowerCase()};\n}\n\nif (msg.payload.data.hood.value == \"CLOSED\") {\n    msg4.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXdoorsHood\"),\"nvalue\":1,\"svalue\":msg.payload.data.hood.value.substring(0,1).toUpperCase() + msg.payload.data.hood.value.substring(1).toLowerCase()};\n} else if (msg.payload.data.hood.value == \"OPEN\"){\n    msg4.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXdoorsHood\"),\"nvalue\":4,\"svalue\":msg.payload.data.hood.value.substring(0,1).toUpperCase() + msg.payload.data.hood.value.substring(1).toLowerCase()};\n}\n\nif (msg.payload.data.rearLeft.value == \"CLOSED\") {\n    msg5.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXdoorsRearLeft\"),\"nvalue\":1,\"svalue\":msg.payload.data.rearLeft.value.substring(0,1).toUpperCase() + msg.payload.data.rearLeft.value.substring(1).toLowerCase()};\n} else if (msg.payload.data.rearLeft.value == \"OPEN\"){\n    msg5.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXdoorsRearLeft\"),\"nvalue\":4,\"svalue\":msg.payload.data.rearLeft.value.substring(0,1).toUpperCase() + msg.payload.data.rearLeft.value.substring(1).toLowerCase()};\n}\n\nif (msg.payload.data.rearRight.value == \"CLOSED\") {\n    msg6.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXdoorsRearRight\"),\"nvalue\":1,\"svalue\":msg.payload.data.rearRight.value.substring(0,1).toUpperCase() + msg.payload.data.rearRight.value.substring(1).toLowerCase()};\n} else if (msg.payload.data.rearRight.value == \"OPEN\"){\n    msg6.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXdoorsRearRight\"),\"nvalue\":4,\"svalue\":msg.payload.data.rearRight.value.substring(0,1).toUpperCase() + msg.payload.data.rearRight.value.substring(1).toLowerCase()};\n}\n\nif (msg.payload.data.tailGate.value == \"CLOSED\") {\n    msg7.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXdoorsTailGate\"),\"nvalue\":1,\"svalue\":msg.payload.data.tailGate.value.substring(0,1).toUpperCase() + msg.payload.data.tailGate.value.substring(1).toLowerCase()};\n} else if (msg.payload.data.tailGate.value == \"OPEN\"){\n    msg7.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXdoorsTailGate\"),\"nvalue\":4,\"svalue\":msg.payload.data.tailGate.value.substring(0,1).toUpperCase() + msg.payload.data.tailGate.value.substring(1).toLowerCase()};\n}\nreturn [[msg1,msg2,msg3,msg4,msg5,msg6,msg7]];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":1800,"wires":[["c8375410.8d8628"]]},{"id":"9a234029.e4adf8","type":"function","z":"227b219a.279c1e","name":"","func":"// Text Sensors and Custom Sensors\n\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar msg5 = {};\nvar msg6 = {};\nvar msg7 = {};\nvar msg8 = {};\n\n\nmsg1.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXdiagnosticsServiceStatus\"),\"nvalue\":0,\"svalue\":msg.payload.data.serviceStatus.value.substring(0,1).toUpperCase() + msg.payload.data.serviceStatus.value.substring(1).toLowerCase()};\nmsg2.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXdiagnosticsServiceTrigger\"),\"nvalue\":0,\"svalue\":msg.payload.data.serviceTrigger.value.substring(0,1).toUpperCase() + msg.payload.data.serviceTrigger.value.substring(1).toLowerCase()};\nmsg3.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXdiagnosticsBackupBatteryRemaining\"),\"nvalue\":0,\"svalue\":msg.payload.data.backupBatteryRemaining.value.substring(0,1).toUpperCase() + msg.payload.data.backupBatteryRemaining.value.substring(1).toLowerCase()};\nmsg4.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXdiagnosticsMainBatteryStatus\"),\"nvalue\":0,\"svalue\":msg.payload.data.mainBatteryStatus.value.substring(0,1).toUpperCase() + msg.payload.data.mainBatteryStatus.value.substring(1).toLowerCase()};\nmsg5.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXdiagnosticsEngineHoursToService\"),\"nvalue\":0,\"svalue\":msg.payload.data.engineHoursToService.value};\nmsg6.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXdiagnosticsKmToService\"),\"nvalue\":0,\"svalue\":msg.payload.data.kmToService.value};\nmsg7.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXdiagnosticsMonthsToService\"),\"nvalue\":0,\"svalue\":msg.payload.data.monthsToService.value};\nmsg8.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXdiagnosticsWasherFluidLevel\"),\"nvalue\":0,\"svalue\":msg.payload.data.washerFluidLevel.value.substring(0,1).toUpperCase() + msg.payload.data.washerFluidLevel.value.substring(1).toLowerCase()};\n\nreturn [[msg1,msg2,msg3,msg4,msg5,msg6,msg7,msg8]];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":1940,"wires":[["a8efb9ca.ed2dc8"]]},{"id":"f4c23d2b.487fc8","type":"function","z":"227b219a.279c1e","name":"","func":"msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDXbrakesBrakeFluid\"),\"nvalue\":0,\"svalue\":msg.payload.data.brakeFluid.value.substring(0,1).toUpperCase() + msg.payload.data.brakeFluid.value.substring(1).toLowerCase()};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":2080,"wires":[["ea67cce0.e0fb48"]]},{"id":"21772da3.63dbaa","type":"function","z":"227b219a.279c1e","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":2220,"wires":[[]]},{"id":"efabacd9.ace0c8","type":"debug","z":"227b219a.279c1e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":540,"wires":[]},{"id":"da3fa221.b0a0b","type":"debug","z":"227b219a.279c1e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":680,"wires":[]},{"id":"fd7f3915.798cd","type":"debug","z":"227b219a.279c1e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":820,"wires":[]},{"id":"6937fe20.3b001","type":"debug","z":"227b219a.279c1e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":960,"wires":[]},{"id":"65cb862f.b0291","type":"debug","z":"227b219a.279c1e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":1100,"wires":[]},{"id":"b9c57c17.30fcf8","type":"debug","z":"227b219a.279c1e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":1240,"wires":[]},{"id":"8487642c.9f4d5","type":"debug","z":"227b219a.279c1e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":1380,"wires":[]},{"id":"91d0c058.84d468","type":"debug","z":"227b219a.279c1e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":1520,"wires":[]},{"id":"253b4a01.7cd7f6","type":"debug","z":"227b219a.279c1e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":1660,"wires":[]},{"id":"c8375410.8d8628","type":"debug","z":"227b219a.279c1e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":1800,"wires":[]},{"id":"a8efb9ca.ed2dc8","type":"debug","z":"227b219a.279c1e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":1940,"wires":[]},{"id":"ea67cce0.e0fb48","type":"debug","z":"227b219a.279c1e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":2080,"wires":[]}]
